pytubefix
opencv-python
torch
numpy
transformers
scipy
scikit-image
ffmpeg-python
moviepy
scenedetect
pandas
google-colab
Entropy
pytesseract
youtube-transcript-api
ipython
langchain-openai
tqdm
requests